/* Reduzindo a altura do mapa para garantir que o botão apareça abaixo */
#map {
  height: 60vh;  /* 60% da altura da tela para o mapa */
  width: 100%;
  margin-bottom: 20px;  /* Espaço entre o mapa e o botão */
}

/* Estilo do contêiner do botão e label */
.view-container {
  margin-top: 20px; /* Espaço entre o mapa e o botão */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o botão e o label */
  width: 100%;
  justify-content: center;
  position: relative;
}

/* Estilo do botão de "Exibir Visão do Mapa" */
#exibirViewBtn {
  background-color: #007bff; /* Cor de fundo azul */
  color: white; /* Texto branco */
  padding: 10px 20px; /* Espaçamento interno */
  border: none; /* Remove borda */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor em formato de mão */
  font-size: 16px; /* Tamanho do texto */
  margin-top: 20px; /* Espaçamento superior */
  display: inline-block; /* Garante que o botão fique ao lado do label */
}

/* Estilo para quando o botão estiver em hover */
#exibirViewBtn:hover {
  background-color: #0056b3; /* Cor de fundo mais escura ao passar o mouse */
}

/* Estilo do label de "Visão do Mapa" */
#viewLabel {
  margin-top: 10px; /* Espaçamento superior */
  font-size: 16px; /* Tamanho do texto */
  color: #333; /* Cor do texto */
}
